
<section class="">
    <header class="">
<nav class="navbar navbar-expand-lg navbar-dark ">
  <div class="container-fluid">
    <a class="navbar-brand " href="/"><img src="/images/NEWLOGO.jpg" style="height:4rem; width:5rem"></a><h6 class="mx-1 mt-2 fw-bold fs-4 text-success bg-light" style=" font-family: 'Raleway', sans-serif; font-weight:500">URBAN <br>JUNGLE</h6>
    <button class="navbar-toggler btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav  me-auto mb-2 mb-lg-0 ">
          {{#if search}}
        <li class="nav-item">
        <input class="form-control ms-5" type="text" placeholder="Search" aria-label="Search" style="width: 30vw;" id="search" onkeyup="searchAll()">
        </li>
            {{/if}}
    </ul>
    

 <ul class="navbar-nav ">

   <div class="dropdown me-4 mt-1 mx-4">
  <button class="btn  dropdown-toggle btn-sm mt-2" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
  <h6 class="fw-bold  fs-5 text-dark "> Plants</h6>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    {{#each Plants}}
    <li class=""><a class="dropdown-item" href="/show-category/{{this.sub}}">{{this.sub}}</a></li>
{{/each}}
  </ul>
</div>

<div class="dropdown me-4 mt-1">
  <button class="btn  dropdown-toggle btn-sm mt-2 mx-4" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
  <h6 class="fw-bold  fs-5 text-dark "> Pots</h6>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    {{#each pots}}
    <li><a class="dropdown-item" href="/show-category/{{this.sub}}">{{this.sub}}</a></li>
{{/each}}
  </ul>
</div>



 <li class="nav-item mt-2 "  >
          <a class="nav-link" href="/view-orders"> <h6 class="fs-5 text-dark  mx-2 fw-bold">Orders</h6> </a>     
        </li>
<li class="nav-item  mt-2 ms-2" >
          <a class="nav-link" href="/view-cart"> <h6 class ="fs-5 fw-bold text-dark "> Cart 
             </h6>  </a>   
        </li>
<li class="nav-item  mt-1">
 <a class="nav-link" href="/view-cart"> <h6 class ="fs-5 fw-bold text-dark  "> 
   <i class="bi bi-cart  fs-4">
   </i>  
  </h6>  
   </a>   
 </li>
 {{#if user}}
 {{#if cartCount}}
 <li><span class=" mt-1 translate-middle badge rounded-pill bg-success " id="cart-count">
   {{cartCount}}
  </span> </li>
    {{/if}}
  {{/if}}

     {{#if user}}
   <a href="/view-profile" style="text-decoration: none;">
<h6 class="fs-5 text-dark mt-3 fw-bold me-1 mx-2">{{user.fname}}<i class="bi bi-person-circle ms-1"></i></h6>
</a>
   <span class="fs-5 text-dark  fw-bold mt-2 ms-3 " > <a class="nav-link" href="/logout"><i class="bi bi-power btn btn-danger  text-white  fw-bold" ></i></a></span>
{{else}}
  <li class="nav-item " >
          <a class="nav-link" href="/login"> <button class="btn  text-white fw-bold mb-2" type="submit" style="background-color: rgb(84, 59, 65) ;">Login</button></a>
        </li>
{{/if}}
      </ul>
    
    </div>
  </div>
</nav>

    </header>
    
</section>